@use "./functions" as *;

$desktop: 1439.98;
$tablet: 1023.98;
$mobile: 767.98;
$mobile-s: 480.98;

@mixin desktop {
  @media (width <= rem($desktop)) {
    @content;
  }
}

@mixin tablet {
  @media (width <= rem($tablet)) {
    @content;
  }
}

@mixin mobile {
  @media (width <= rem($mobile)) {
    @content;
  }
}

@mixin mobile-s {
  @media (width <= rem($mobile-s)) {
    @content;
  }
}

@mixin hover($hasActiveEffectOnMobile: true) {
  @media (any-hover: hover) {
    &:hover {
      @content;
    }
  }

	@if ($hasActiveEffectOnMobile) {
		@media (any-hover: none) {
			&:active {
				@content;
			}
		}
	}
}