@use "~/styles/helpers" as *;

.hero-direction {
	background-color: var(--color-accent);
	color: var(--color-light);
	padding-block: rem(80) rem(112);

	&__inner {
		display: flex;
		flex-direction: column;
		row-gap: rem(64);
	}

	&__info {
		display: flex;
		flex-direction: column;
		row-gap: rem(16);
	}

	&__list {
		display: grid;
		grid-template-columns: repeat(3, rem(300));
		gap: rem(32)
	}

	&__item {
		display: flex;
		flex-direction: column;
		row-gap: rem(2);
	}
}