@use "~/styles/helpers" as *;

.events-card {
  background-color: var(--color-light);
  padding: rem(8);
  border-radius: var(--border-radius);
  position: relative;

  @include hover(false) {
    .events-card__image {
      scale: 1.10;
    }
  }

  &__inner {
    display: flex;
    column-gap: rem(28);
    align-items: center;
  }

  &__wrapper-image {
    width: rem(320);
    height: rem(188);
    overflow: hidden;
    border-radius: var(--border-radius-small);
  }

  &__image {
    border-radius: inherit;
    width: 100%;
    transition-duration: var(--transition-duration);
  }

  &__body {
    display: flex;
    flex-direction: column;
    row-gap: rem(20);
  }

  &__title,
  &__author,
  &__location {
    z-index: 100;
    pointer-events: none;
  }

  &__title {
    max-width: rem(340);
  }

  &__info {
    display: flex;
    flex-direction: column;
    row-gap: rem(16);
  }

  &__author,
  &__location {
    display: flex;
    column-gap: rem(12);

    &::before {
      @include square(rem(24));

      content: "";
    }
  }

  &__author {
    &::before {
      background: url("../../assets/icons/user.svg") center / cover no-repeat;
    }
  }

  &__location {
    &::before {
      background: url("../../assets/icons/map-pin.svg") center / cover no-repeat;
    }
  }

  &__link {
    margin-left: auto;
    align-self: start;
    padding-top: rem(16);
    padding-right: rem(12);

    &::after {
      content: "";
      position: absolute;
      inset: 0;
    }
  }
}
