@use "~/styles/helpers/" as *;

.directions {
  &__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      "direction-1 direction-1"
      "direction-2 direction-3";
		gap: rem(16);
  }

  &__item {
    @for $i from 1 through 3 {
      &:nth-child(#{$i}) {
        grid-area: direction-#{$i};
      }
    }
  }
}
