@use "~/styles/helpers" as *;

.news-card {
  background-color: var(--color-light);
  border-radius: var(--border-radius-large);
	padding: rem(8);
	position: relative;

  @include hover {
    .news-card__image {
      scale: 1.1;
    }
  }

  &__wrapper-image {
    overflow: hidden;
    border-radius: var(--border-radius-small);
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: var(--border-radius-small);
    transition-duration: var(--transition-duration);
  }

  &__inner {
    padding: rem(24) rem(16);
  }

  &__info {
		position: relative;
    color: var(--color-gray-dark);
    margin-bottom: rem(8);
    pointer-events: none;
		z-index: 100;
  }

	&__text {
		z-index: 100;
		position: relative;
	}

  &__text {
    margin-bottom: rem(24);
		height: rem(144);
		overflow: hidden;
		text-overflow: ellipsis;
		display: -webkit-box;
		-webkit-line-clamp: 6;
		-webkit-box-orient: vertical;
    pointer-events: none;
  }

	&__link {
		&::after {
			content: "";
			position: absolute;
			inset: 0;
		}
	}
}
