@use "~/styles/helpers/" as *;

.button {
  @include button-reset;
  @include flex-center(true);

  height: var(--button-height);
  padding-inline: rem(24);
  font-weight: 600;
  font-size: rem(14);
  line-height: 1.14;
  border-radius: var(--border-radius);
  transition: 0.3s cubic-bezier(0.07, 0.82, 0.57, 1.42);

  &:not(.button--disable-hover) {
    @include hover(false) {
      scale: 1.05;
    }

    &:active {
      scale: 0.98;
    }
  }

  &__light {
    background-color: var(--color-light);
    color: var(--color-dark);
  }

  &__dark {
    background-color: var(--color-dark);
    color: var(--color-light);
  }

  &__gray {
    background-color: var(--color-gray);
  }

  &__transparent {
    background-color: transparent;
  }

  &--small {
    height: var(--button-height-small);
    padding-inline: rem(16);
    border-radius: var(--border-radius-small);
  }
}
