@use "~/styles/helpers" as *;

.section {
  padding-block: rem(112);

  &:not(.section--gray):not(.section--dark) {
		&:nth-child(4), &:nth-child(5) {
			padding-top: 0;
		}
  }

  &--gray {
    background-color: var(--color-gray);
  }

  &--dark {
    background-color: var(--color-dark);
    color: var(--color-light);
  }

  &:has(.directions) {
    .section__title {
      max-width: rem(350);
    }
  }

  &:has(.partners) {
    .section__title {
      max-width: rem(750);
    }

    .section__description {
      max-width: rem(450);
    }
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin-bottom: rem(48);

		&--center {
			text-align: center;
			justify-content: center;

			.section__content {
				align-items: center;
			}
		}
  }

  &__content {
    display: flex;
    flex-direction: column;
    row-gap: rem(16);
  }

  &__description {
    max-width: rem(610);
  }
}
