@use "~/styles/helpers" as *;

.hero {
  background-color: var(--color-dark);
  color: var(--color-light);
  position: relative;
  display: flex;

  &__inner {
    display: flex;
    margin-block: rem(75) rem(250);
  }

  &__body {
    max-width: rem(750);
    text-align: center;
  }

  &__description {
    font-size: rem(20);
    line-height: 1.4;
    letter-spacing: -0.01em;
		margin-top: rem(25);
  }

  &__pattern {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    object-fit: cover;
  }
}
