@use "~/styles/helpers" as *;

.hero {
  background-color: var(--color-dark);
  color: var(--color-light);
  position: relative;
  display: flex;
	overflow: hidden;

  &__inner {
    display: flex;
    margin-block: rem(75) rem(250);
  }

  &__body {
    max-width: rem(800);
    text-align: center;
  }

	&__title {
		margin-bottom: rem(25);
	}

  &__pattern {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    object-fit: cover;
  }

	&__video {
		position: absolute;
		bottom: rem(-266);
		left: 50%;
		transform: translateX(-50%);

	}
}
