@use "./../helpers" as *;

body {
  font-family: var(--font-family-base);
  font-weight: 500;
  font-size: rem(16);
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: var(--color-dark);
  background-color: var(--color-light);
}

a {
  color: inherit;
  text-decoration: none;
}

a,
button,
input,
label,
textarea,
select,
svg * {
  transition-duration: var(--transition-duration);
}

h1,
.h1,
h2,
.h2 h3,
.h3 {
  font-weight: 700;
}

h1,
.h1 {
  font-size: rem(64);
  line-height: 1.12;
  letter-spacing: -0.05em;
}

h2,
.h2 {
  font-size: rem(48);
  line-height: 1.17;
  letter-spacing: -0.04em;
}

h3,
.h3 {
  font-size: rem(40);
  line-height: 1.2;
  letter-spacing: -0.03em;
}

:not(input):focus-visible {
  outline: rem(2) dashed red;
  outline-offset: rem(4);
  transition-duration: 0s !important;
}
