@use "./../helpers" as *;

.container {
	max-width: calc(var(--container-width) + 2 * var(--container-padding-x));
	padding-inline: var(--container-padding-x);
	margin-inline: auto;
}

.visually-hidden {
	@include visually-hidden;
}