@use "./../helpers" as *;

:root {
	--color-light: #fff;
	
	--color-dark: #1b1f26;
	
	--color-gray: #e1e1e2;
	--color-gray-alt: #f2f2f2;
	--color-gray-dark: #81818b;
	--color-gray-dark-alt: #313135;

	--color-global-accent: #aa0041;

	--font-family-base: "Montserrat", sans-serif;

	--container-width: #{rem(1172)};
	--container-padding-x: #{rem(25)};

	--button-height: #{rem(48)};
	--button-height-small: #{rem(36)};

	--border-radius-small: #{rem(8)};
	--border-radius: #{rem(12)};
	--border-radius-large: #{rem(16)};

	--box-shadow: 0 #{rem(4)} #{rem(24)} 0 rgba(27, 31, 38, 0.08);
	
	--transition-duration: .25s;
}