@use "~/styles/helpers/" as *;

.directions-card {
  background-color: var(--color-gray-alt);
  border-radius: var(--border-radius-large);
  padding: rem(40) rem(32);
	display: flex;
	align-items: start;
	column-gap: rem(24);
	position: relative;
	
	&__body {
		display: flex;
		flex-direction: column;
		row-gap: rem(16);
	}

	&__content {
		display: flex;
		flex-direction: column;
		row-gap: rem(4);
	}

	&__description {
		max-width: rem(300);
	}
	
	&__tags {
		display: flex;
		column-gap: rem(8);
	}

	&__tag {
		padding: rem(4) rem(8);
		background-color: var(--color-gray);
		border-radius: var(--border-radius-small);
	}

	&__link {
		position: absolute;
		top: rem(40);
		right: rem(32);
	}
}
