@use "~/styles/helpers/" as *;

.header {
	background-color: var(--color-dark);
	padding-block: rem(16);
	position: sticky;
	top: 0;
	z-index: 900;

	&__inner {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__actions {
		display: flex;
		column-gap: rem(32);
		align-items: center;
	}

	&__menu {
		&-list {
			display: flex;
			column-gap: rem(32);
		}

		&-link {
			color: var(--color-light);
			position: relative;

			&::after {
				content: "";
				width: 0;
				height: rem(1);
				position: absolute;
				bottom: 0;
				left: 50%;
				transform: translateX(-50%);
				background-color: currentColor;
				transition-duration: var(--transition-duration);
			}

			@include hover(false) {
				&::after {
					width: 100%;
				}
			}
		}
	}
}